@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $primary;
}

main {
  color: $warning;
  flex-grow: 1;
  background: rgb(252,70,107);
  background: linear-gradient(24deg, rgba(252,70,107,1) 25%, rgba(131,58,180,1) 100%); 
}

footer {
  background-color: $darkCustom;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}


.modal{
  background-color: rgba(0,0,0,.3);
  
}

.modal-body{
  background-color: $danger;
}

.modal-header{
  background-color: $primary;
}

.offcanvas-header{
  color: $warning;
  background-color: $darkCustom;
}

.offcanvas-body{
color: $warning;
background: linear-gradient(24deg, rgba(252,70,107,1) 25%, rgba(131,58,180,1) 100%); 
}

.card {
  color: $warning;
 background-color: $primary;
}
.btn{
  color: $warning;
}


// .form-control{
//   background-color: #6c3f5e; 
// }

